<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>teacher</title>
</head>
<body>
    <h1>Teachers List</h1>
    <div>
        <a href="/classes">ToClass</a>
        |
        <a href="/students">ToStudents</a>
        <hr>
        <a href="/add_teacher">Add A Teacher</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>TeacherName</th>
                <th>Classes to teach</th>
                <th>Operate</th>
            </tr>
        </thead>
        <tbody>
            {% for row in teacher_list %}
                <tr>
                    <td>{{ row.tid }}</td>
                    <td style="text-align: center;">{{ row.name }}</td>
                    <td>
                        {% for item in row.titles %}
                            <span style="display: inline-block; 
                            padding: 5px; border:1px solid red;">{{ item }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="/edit_teacher/?nid={{ row.tid }}">Edit</a>
                        |
                        <a>Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>