{% extends 'layout.html' %}

{% block css %}
<style type="text/css">
    #chart01 {
        width: 66.7%;
}
    #chart02 {
        width: 33.3%;
}
    #chart01, #chart02 {
        float: left;
        height: 100%;
    }
</style>
{% endblock %}


{% block content %}
<div id="chart01"></div>
<div id="chart02">
    <table class="table table-striped" id="table01"></table>
</div>
{% endblock %}


{% block js %}
<script src="/static/plugins/echarts/echarts.js"></script>
<script src="/static/plugins/echarts/map/china.js"></script>
<script type="text/javascript">
    var dataList = [{ name: "南海诸岛", value: 0 },];
    var True = true;
    var False = false;
    var None = null;
    var dataRet = {{ dataRet | safe }};
    for(var i=0;i<34;i++){
        dataList.push({
            name: dataRet['areaTree'][0]['children'][i]['name'], 
            value: dataRet['areaTree'][0]['children'][i]['total']['confirm']
        })
    }
    var myChart = echarts.init(document.getElementById('chart01'));
    option = {
        tooltip: {
            formatter: function (params, ticket, callback) {
                return params.seriesName + '<br />' + params.name + '：' + params.value
            }//数据格式化
        },
        visualMap: {
            min: 0,
            max: 1500,
            left: 'left',
            top: 'bottom',
            text: ['高', '低'],//取值范围的文字
            inRange: {
                color: ['#e0ffff', '#006edd']//取值范围的颜色
            },
            show: true//图注
        },
        geo: {
            map: 'china',
            roam: false,//不开启缩放和平移
            zoom: 1.23,//视角缩放比例
            label: {
                normal: {
                    show: true,
                    fontSize: '10',
                    color: 'rgba(0,0,0,0.7)'
                }
            },
            itemStyle: {
                normal: {
                    borderColor: 'rgba(0, 0, 0, 0.2)'
                },
                emphasis: {
                    areaColor: '#F3B329',//鼠标选择区域颜色
                    shadowOffsetX: 0,
                    shadowOffsetY: 0,
                    shadowBlur: 20,
                    borderWidth: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        },
        series: [
            {
                name: '确诊人数',
                type: 'map',
                geoIndex: 0,
                data: dataList
            }
        ]
    };
    myChart.setOption(option);

    function insert_row(params, table_id) {
        row = document.createElement("tr"); //创建行
        for (var i = 0; i < params.length; i++) {
            td1 = document.createElement("td"); //创建单元格
            td1.appendChild(document.createTextNode(params[i])); //为单元格添加内容
            row.appendChild(td1); //将单元格添加到行内
        }
        document.getElementById(table_id).append(row); //将行添加到<tbody>中
    }
    
    function insert_td(content, row_name) {
        td1 = document.createElement("td"); //创建单元格
        td1.appendChild(document.createTextNode(content)); //为单元格添加内容
        row_name.appendChild(td1);
    }

    myChart.on('click', function (params) {
        document.getElementById('table01').innerHTML = '';
        var title = ['序号', '地区', '确诊人数', '新增确诊(今天)', '死亡人数', '治愈人数',];
        insert_row(title, 'table01');  // 插入表头
        
        var areaList = []
        for(var i=0;i<34;i++){
            areaList.push(dataRet['areaTree'][0]['children'][i]['name']);
        }
        
        // alert(areaList.indexOf(params.name));
        if (areaList.indexOf(params.name)>=0) {
            // 省份总和
            row0 = document.createElement("tr"); //创建行
            insert_td('总', row0);
            insert_td(dataRet['areaTree'][0]['children'][areaList.indexOf(params.name)]['name'], row0);
            insert_td(dataRet['areaTree'][0]['children'][areaList.indexOf(params.name)]['total']['confirm'], row0);
            insert_td(dataRet['areaTree'][0]['children'][areaList.indexOf(params.name)]['today']['confirm'], row0);
            insert_td(dataRet['areaTree'][0]['children'][areaList.indexOf(params.name)]['total']['dead'], row0);
            insert_td(dataRet['areaTree'][0]['children'][areaList.indexOf(params.name)]['total']['heal'], row0);
            document.getElementById("table01").append(row0); //将行添加到<tbody>中

            for (var i = 0; i < dataRet['areaTree'][0]['children'][areaList.indexOf(params.name)]['children'].length; i++) {
                row = document.createElement("tr"); //创建行
                // 这行内的单元格中的内容
                insert_td(i+1, row);
                insert_td(dataRet['areaTree'][0]['children'][areaList.indexOf(params.name)]['children'][i]['name'], row);
                insert_td(dataRet['areaTree'][0]['children'][areaList.indexOf(params.name)]['children'][i]['total']['confirm'], row);
                insert_td(dataRet['areaTree'][0]['children'][areaList.indexOf(params.name)]['children'][i]['today']['confirm'], row);
                insert_td(dataRet['areaTree'][0]['children'][areaList.indexOf(params.name)]['children'][i]['total']['dead'], row);
                insert_td(dataRet['areaTree'][0]['children'][areaList.indexOf(params.name)]['children'][i]['total']['heal'], row);

                document.getElementById("table01").append(row); //将行添加到<tbody>中
            }
        } else {
            // 不然选择南海诸岛的时候他找不到会显示序号为-1，然后报错
            document.getElementById('table01').innerHTML = '';
        }
        
    });
</script>
{% endblock %}
