{% extends 'layout.html' %}

{% block css %}
<style type="text/css">
    #chart01 {
        float: left;
        height: 660px; width: 880px;
}
    #chart02 {
        float: right;;
        height: 660px;
        width: 439px;
}
</style>
{% endblock %}


{% block content %}
<div id="chart01"></div>
<div id="chart02"></div>
{% endblock %}


{% block js %}
<script src="/static/plugins/echarts/echarts.js"></script>
<script src="/static/plugins/echarts/map/china.js"></script>
<script type="text/javascript">
    var dataList = [{ name: "南海诸岛", value: 0 },]
    var dataRet = {{ dataRet | safe }}
    for(var i=0;i<34;i++){
        dataList.push({
            name: dataRet['areaTree'][0]['children'][i]['name'], 
            value: dataRet['areaTree'][0]['children'][i]['total']['confirm']
        })
    }
    var myChart = echarts.init(document.getElementById('chart01'));
    option = {
        tooltip: {
            formatter: function (params, ticket, callback) {
                return params.seriesName + '<br />' + params.name + '：' + params.value
            }//数据格式化
        },
        visualMap: {
            min: 0,
            max: 1500,
            left: 'left',
            top: 'bottom',
            text: ['高', '低'],//取值范围的文字
            inRange: {
                color: ['#e0ffff', '#006edd']//取值范围的颜色
            },
            show: true//图注
        },
        geo: {
            map: 'china',
            roam: false,//不开启缩放和平移
            zoom: 1.23,//视角缩放比例
            label: {
                normal: {
                    show: true,
                    fontSize: '10',
                    color: 'rgba(0,0,0,0.7)'
                }
            },
            itemStyle: {
                normal: {
                    borderColor: 'rgba(0, 0, 0, 0.2)'
                },
                emphasis: {
                    areaColor: '#F3B329',//鼠标选择区域颜色
                    shadowOffsetX: 0,
                    shadowOffsetY: 0,
                    shadowBlur: 20,
                    borderWidth: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        },
        series: [
            {
                name: '确诊人数',
                type: 'map',
                geoIndex: 0,
                data: dataList
            }
        ]
    };
    myChart.setOption(option);
    myChart.on('click', function (params) {
        document.getElementById('chart02').innerHTML = '';
        var title = ['序号', '城市', '确诊人数', '今天新增确诊人数', '疑似人数', '今天新增疑似人数', '死亡人数', '今天死亡', '治愈人数', '今天治愈'];

        row = document.createElement("tr"); //创建行
        for(var i=0;i<title.length;i++){
            td1 = document.createElement("td"); //创建单元格
            td1.appendChild(document.createTextNode(title[i])); //为单元格添加内容
            row.appendChild(td1); //将单元格添加到行内
        }
        document.getElementById("chart02").append(row); //将行添加到<tbody>中
        
        // alert(params.name);
        var areaIndex = {}
        for(var i=0;i<34;i++){
            areaIndex[dataList['name']] = i;
        }
        for(var j=0;j<dataRet['areaTree'][0]['children'][areaIndex[params.name]]['children'].length;j++){
            row = document.createElement("tr"); //创建行
            for (var i = 0; i < title.length; i++) {
                td1 = document.createElement("td"); //创建单元格
                td1.appendChild(document.createTextNode(title[i])); //为单元格添加内容
                row.appendChild(td1); //将单元格添加到行内
            }
            document.getElementById("chart02").append(row); //将行添加到<tbody>中
        }
    });
</script>
{% endblock %}
