<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Display</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/commons.css">
    {% block css %}{% endblock %}
</head>
<body>
    <div class="pg-header">
        <div class="logo left">2019-nCoV疫情动态</div>
        <div class="logo left"style="width: auto; padding-left: 15px;">全国确诊 {{ dataRet.chinaTotal.confirm }} 人</div>
        <div class="logo left"style="width: auto; padding-left: 15px;">疑似 {{ dataRet.chinaTotal.suspect }} 人</div>
        <div class="logo left"style="width: auto; padding-left: 15px;">死亡 {{ dataRet.chinaTotal.dead }} 人</div>
        <div class="logo left"style="width: auto; padding-left: 15px;">治愈 {{ dataRet.chinaTotal.heal }} 人</div>
        <div class="avatar right" style="position: relative;" >
            <img src="/static/images/头像.jpg" alt="">
            <div class="user-info" >
                <a ><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ username }}</a>
                <br>
                <a href="/logout/">注销</a>
            </div>
        </div>
        <div class="rmenus right">
            <div class="logo" style="width: auto; padding-right: 5px;">统计时间 {{ dataRet.lastUpdateTime }}</div>
        </div>
    </div>
    <div class="pg-body">
        <div class="menus">
            <a href="/index/"><i class="fa fa-window-restore" aria-hidden="true"></i> 地图显示</a>
            <a href="/areacharts/"><i class="fa fa-bar-chart" aria-hidden="true"></i> 地区趋势</a>
            <a href="/charts/"><i class="fa fa-line-chart" aria-hidden="true"></i> 曲线趋势</a>
            <a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> 相关消息</a>
            <p>数据来自腾讯新闻</p>
            <input id="refresh" class="btn btn-primary" type="button" value="数据刷新" />
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="/static/jquery-3.4.1.js"></script>
    <!-- <script>
        $(function() {
            $('#refresh').click(function() {
                $.ajax({
                    url: '/refresh/',
                    type: 'POST',
                    data: {'k':'v',},
                    success: function (arg) {
                        if(arg == 'ok'){
                            location.reload();
                        }
                    }
                })
            })
        })
    </script> -->
    <script>
        $(function() {
            $('#refresh').click(function() {
                location.reload();
            })
        })
    </script>
    {% block js %}{% endblock %}
</body>
</html>