<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Display</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/commons.css">
    {% block css %}{% endblock %}
</head>
<body>
    <div class="pg-header">
        <div class="logo left">2019-nCoV疫情动态</div>
        <div class="logo left"style="width: auto; padding-left: 15px;">全国确诊 {{ dataRet.chinaTotal.confirm }} 人</div>
        <div class="logo left"style="width: auto; padding-left: 15px;">疑似 {{ dataRet.chinaTotal.suspect }} 人</div>
        <div class="logo left"style="width: auto; padding-left: 15px;">死亡 {{ dataRet.chinaTotal.dead }} 人</div>
        <div class="logo left"style="width: auto; padding-left: 15px;">治愈 {{ dataRet.chinaTotal.heal }} 人</div>
        <div class="avatar right" style="position: relative;" >
            <img src="/static/images/头像.jpg" alt="">
            <div class="user-info" >
                <a ><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ username }}</a>
                <br>
                <a href="/logout/">注销</a>
            </div>
        </div>
        <div class="rmenus right">
            <div class="logo" style="width: auto; padding-right: 5px;">统计时间 {{ dataRet.lastUpdateTime }}</div>
        </div>
    </div>
    <div class="pg-body">
        <div class="menus">
            <a href="/index/"><i class="fa fa-window-restore" aria-hidden="true"></i> 地图显示</a>
            <!-- <a href="/areacharts/"><i class="fa fa-bar-chart" aria-hidden="true"></i> 地区趋势</a> -->
            <a href="/charts/"><i class="fa fa-line-chart" aria-hidden="true"></i> 曲线显示</a>
            <a href="/news/"><i class="fa fa-commenting" aria-hidden="true"></i> 相关消息</a>
            <a href="https://news.qq.com/zt2020/page/feiyan.htm?from=timeline&isappinstalled=0"><span>数据来自腾讯疫情实时追踪</span></a>
            <input id="btn_refresh" class="btn btn-primary" type="button" value="数据刷新" />
            <input id="btn_download" class="btn btn-primary" type="button" value="数据下载" />
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-boday">
                    <h4 class="modal-title" align="center">请选择下载内容</h4>
                    <div style="width: 200px; height: 150px; background: red;">
                        <a href="/download">下载</a>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

<script src="/static/jquery-3.4.1.js"></script>
<script src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript">
    $(function() {
        $('#btn_refresh').click(function() {
            location.reload();
        })
    })

    $(function () {
        $("#btn_download").click(function () {
            $('#myModal').modal('show')
        })
    })
</script>
{% block js %}{% endblock %}
</body>
</html>